@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap");
/* font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/* font-family: 'Poppins', sans-serif;   */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

html{
  scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
  }
  .btn{
    position: fixed;
    top: 15px;
    right: 45px;
    height: 45px;
    width: 45px;
    text-align: center;
    /* background: #000000; */
    border-radius: 3px;
    cursor: pointer;
    transition: right 0.4s ease;
    z-index: 12;
  }
  .btn.click{
    right: 260px;
  }
  .btn span{
    color: white;
    font-size: 28px;
    line-height: 45px;
  }
  .btn.click span:before{
    content: '\f00d';
  }
  .sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    right: -250px;
    background: #000000;
    transition: right 0.4s ease;
    z-index: 12;
  }
  .sidebar.show{
    right: 0px;
  }
  .sidebar .text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #000000;
    letter-spacing: 1px;
  }
  nav ul{
    background: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    list-style: none;
  }
  nav ul li{
    line-height: 60px;
    border-top: 1px solid rgb(0, 0, 0);
  }
  nav ul li:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.05);
  }
  nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    /* padding-right: 40px; */
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-right: 3px solid transparent;
  }
  nav ul li.active a{
    color: rgb(19, 137, 255);
    background: #1e1e1e;
    color: rgb(19, 137, 255);
  }
  nav ul li a:hover{
    background: #1e1e1e;
  }
  nav ul ul{
    position: static;
    display: none;
  }
  nav ul .feat-show.show{
    display: block;
  }
  nav ul .serv-show.show1{
    display: block;
  }
  nav ul ul li{
    line-height: 42px;
    border-top: none;
  }
  nav ul ul li a{
    font-size: 17px;
    color: #e6e6e6;
    padding-right: 80px;
  }
  nav ul li.active ul li a{
    color: #e6e6e6;
    background: #1b1b1b;
    border-right-color: transparent;
  }
  nav ul ul li a:hover{
    color: cyan!important;
    background: #1e1e1e!important;
  }
  .content{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    color: #202020;
    z-index: -1;
    text-align: center;
  }
  .content .header{
    font-size: 45px;
    font-weight: 600;
  }
  .content p{
    font-size: 30px;
    font-weight: 500;
  }
/* home */
  .home{
      height: 100vh;
      overflow: hidden;
      position: relative;
  }
  .home .home_parallax{
      width: 100%;
      height: 100%;
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
    .home_parallax-img1{
        background-image: url(./ex3img/imgm1.png);
        z-index: 2;
    }
    .home_parallax-img2{
        background-image: url(./ex3img/imgm2.png);
        z-index: 3;
    }
    .home_parallax-img3{
        background-image: url(./ex3img/imgm3.png);
        z-index: 4;
    }
    .home_parallax-img4{
        background-image: url(./ex3img/imgm4.png);
        z-index: 4;
    }
    .home_title,
    .home_subtitle{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        color: white;
    }
    .home_title{
        top: 30%;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        z-index: 2;
        font-size: 10rem;
    }
    .home_subtitle{
        top: 59%;
        font-family: 'Lato', sans-serif;
        /* font-weight: bold; */
        z-index: 3;
        font-size: 2rem;
    }
    .home_scroll{
        position: absolute;
        bottom: 2.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 3rem;
        z-index: 12;
    }
    .home_scroll .bx-mouse{
        color: white;

    }
/* section1 */
.first_section{
    background-color: rgb(0 0 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section{
    height: 75vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    max-width: 85%;
  }
  .section_title{
    font-size: 2rem;
    /* color: ; */
    margin-bottom: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
  }
  .section_title span{
    font-size: 100px;
    color: rgb(19, 137, 255);
  }
.section_data{
    margin-bottom: 3rem;
    width: 25%;
    height: 70%;
    margin: 0 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    
}

.section_data .section_img{
  background: rgba(0, 0, 0, 0.351);
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  height: 100vh;
  position: relative;
  z-index: 10;
}
.section_data_main{
  position:absolute;
  z-index: 5;
  /* background: red; */
  margin: 0 10%;
}
.section_data .section_img:hover{
  filter: blur(3px);
  z-index: 5;
  transition: all 0.25s;
  background-blend-mode: darken;
}
.section_data_main:hover{
  z-index: 5;
}
.second_data_head{
  font-size: 30px;
  background-color: #0000008e;
  margin: 0px 20%;
  border-radius: 6px;
  margin-bottom: 20px;
}
.second_data_para{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #000000;
  font-weight: 600;
}
.second_social{
  margin-top: 20px;
}
@media (min-width: 769px) and (max-width:1024px){
    .home_title{
        top: 24%;
    }
}
@media (max-width:767px){
    .section{
        display: flex;
        flex-direction: column;
    }
}
/* rellax js */
.about{
  height: 100vh;
  /* background-color: #000000; */
  background: rgba(0, 0, 0, 0.351) url(./ex3img/Pico\ Turquino.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.about_title{
  color: rgb(2, 2, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 2rem;
}
.about_title span{
  color:  rgb(19, 137, 255);
  font-size: 100px;
}
.about .para{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  padding: 20px ;
  flex-direction: column;
  font-size: 19px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  color: rgb(228, 228, 228);
  margin-bottom: 60px;
}
.about .para .para2{
  padding-top: 20px;
}
@media (max-width:1024px){
  .about .para{
    font-size: 14px;
  }
}
@media (max-width:768px){
  .about .para{
    font-size: 12px;
  }
  .about_title{
    font-size: 1.5rem;
  }
  .about_title span{
    font-size: 80px;
  }
}
/* packages */
.packages{
  background-color: #000000;
}
.container{
  /* background: red; */
  height: 190vh;
}
.package_container{
  border-radius: 10px;
  margin-top: 30px;
  height: 400px;
  display: flex;
  text-align: center;
  /* justify-content: center; */
  flex-direction: column;
}
.pacmain_title{
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-size: 2rem;
}
.pacmain_title span{
  color:  rgb(19, 137, 255);
  font-size: 100px;
}
.pac_main{
  height: 480px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.two2{
  margin-top: 28%;
}
#item1{
  left: 10px;
  width: 48%;
  margin-left: 10px;
  margin-right: 5px;
  position: absolute;
  background: rgba(0, 0, 0, 0.125) url(./ex3img/land-gf0f475693_1280.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  z-index: 5;
  /* border: 2px solid black; */
}
#item2{
  right: 10px;
  margin-top: 184px;
  width: 48%;
  margin-left: 5px;
  margin-right: 10px;
  position: absolute;
  /* border: 2px solid black; */
    background: rgba(0, 0, 0, 0.125) url(./ex3img/fuji.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  z-index: 5;
}
#item3{
  left: 10px;
  width: 48%;
  margin-left: 10px;
  margin-right: 5px;
  position: absolute;
  /* border: 2px solid black; */
    background: rgba(0, 0, 0, 0.125) url(./ex3img/mount2.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  z-index: 5;
}
#item4{
  right: 10px;
  margin-top: 184px;
  width: 48%;
  margin-left: 5px;
  margin-right: 10px;
  position: absolute;
  /* border: 2px solid black; */
    background: rgba(0, 0, 0, 0.218) url(./ex3img/mountains-gf42bec301_1280.jpg);
  background-size: cover;
  background-position: center;
  z-index: 5;
}
.pac_title{
  margin-top: 2rem;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: white;
}
.pac_content{
  color: white;
}
.pac_links{
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.418);
  margin: 0px 250px;
  margin-top: 40px;
  padding: 20px 0;
}
.pac_links a{
  text-decoration: none;
  color: black;
}
.pac_links:hover{
  background-color: white;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.4s ease-in-out;
}
@media (max-width:1024px){
  .two2 {
    margin-top: 41%;
}
#item1{
  left: 5px;
}
#item2{
  right: 5px;
}
#item3{
  left: 5px;
}
#item4{
  right: 5px;
}
.pac_links{
  margin: 0px 150px;
  margin-top: 40px;
}
}
.footer1{
  position: relative;
  height: 55vh;
  background-color: rgba(255, 255, 255, 0.84);
  margin: 0 30px;
  /* margin-top: 40%; */
  border-radius: 50px;
  overflow: hidden;
}
.footmain{
  display: flex;
  flex-direction: column;
}
.foot1{
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 30px 70px;

}
.foot_title{
  width: 60%;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
}
.inputbox input{
  letter-spacing: 1px;
  border: 2px solid rgb(0, 0, 0);
  display: block;
  width: 250%;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  margin: 7px auto;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  
}
.Subscribe{
  margin-left: 10px;
}

.btn1{
  font-size: 1.5rem;
  padding: 0 10px;
  margin-right: 90px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  color: white;
  margin-bottom: 10px;
}
.btn1:hover{
  cursor: pointer;
  background-color: rgb(40, 39, 39);
}
.social{
  cursor: pointer;
}
@media (max-width:1024px){
  .inputbox input{
    width: 177%;
  }
  .font_title{
    font-size: 2.5rem;
  }
  .footer1{
    height: 70vh;
  }
}
.foot2{
  display: flex;
  width: 100%;
  /* margin-top:10px; */
  padding: 20px 70px;
}
.footer_head{
  font-size: 1.5rem;
  font-weight: bold;
}
.footer_head_content{
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  /* font-family: 'Lato', sans-serif; */
  font-size: 15px;
  
}
.footer_about{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 10px;
  margin-bottom: 10%;
}
.footer_contact{
  
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 10px;
  margin-bottom: 10%;
}

.footer_query{
display: flex;
flex-direction: column;
width: 30%;
margin: 0 10px;
margin-bottom: 10%;
}
.last{
  position: relative;
  height: 5vh;
  /* background: linear-gradient(to left top, rgba(194, 35, 152, 0.215), rgba(91, 14, 179, 0.149)); */
  background: rgba(255, 255, 255, 0.842);
  margin: 0 30px;
  /* margin-top: 70px; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plast{
  font-size: 2rem;
}
@media (min-width:1440px){
  .container{
    height:160vh;
  }
  .second{
    height: 330vh;
  }
}
@media (max-width:768px){
  .container{
    height: 209vh;
  }
}
.banner{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner video{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  filter: blur(1.5px);
}
.banner .first_content{
  position: relative;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 90px
}
.banner::after{
  content: "";
  background: rgba(0, 0, 0, 0.147);
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
}
.second{
  height: 350vh;
  background-color: #000000;
}
.second_head{
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 120px;
  padding-top: 50px;
}
.second_container{
  position: relative;
  height: 60vh;
  background: rgba(255, 255, 255, 0.842);
  border-radius: 10px;
  margin: 0 60px;
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.second_container span{
  color:  rgb(19, 137, 255);
  font-size: 40px;
  font-weight: 700;
}
.second_container a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1.4rem;
  padding: 2px 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.704);
  letter-spacing: 1px;
}
.second_container a:hover{
  /* padding: 2px 25px; */
  transition: all 0.5s ease-in-out;
  color: black;
  background-color: white;
}
.a{
  margin-top: 20px;
  position: relative;
}
.second_title{
  margin-bottom: 1.5%;
  margin-top: 1%;
  font-size: 80px;
  font-weight: 500;
  color: white;
}
.second_content{
  padding: 0px 100px;
  font-size: 25px;
  font-family: 'Lato', sans-serif; 
  color: white;
}
@media (max-width:768px) {
  .second_title{
    font-size: 70px;
  }
  .second_content{
    font-size: 20px;
  }
  
}
.sc1{
  background: rgba(0, 0, 0, 0.3) url(./ex3img/hiking4.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
}
.sc2{
  background: rgba(0, 0, 0, 0.3) url(./ex3img/hiking1.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
}
.sc3{
  background: rgba(0, 0, 0, 0.3) url(./ex3img/hiking3.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
}
.sc4{
  background: rgba(0, 0, 0, 0.3) url(./ex3img/hiking2.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-position: 0 80%;
}